<%# unless Question.todays_answers(current_user).empty? %>
  <%#Question.todays_answers(current_user).each do |answer| %>
<% unless sorted_answers.empty? %>
  <% sorted_answers.each do |answer| %>

    <div class="user-answer">


      <div class="answer-header" style="background: <%=answer.user.color%>">
        <span><%= answer.user.username %>
          <span class="user-score" id="user<%= answer.user.id %>-score">
            <%=answer.score%> points.
          </span>
          <span class="answer-buttons">
          <%= button_to "+", answer_vote_path(answer_id: answer.id,
              score: "up"), remote: true, method: :post,
              form_class: "vote-form", class: "btn" %>

          <%= button_to "-", answer_vote_path(answer_id: answer.id,
              score: "down"), remote: true, method: :post,
              form_class: "vote-form", class: "btn" %>
          </span>
          <br>
          <span class="title">
            <%= answer.user.title %>
          </span>

          <% if current_user.provider == "facebook" && current_user.friends_with?(answer.user) %>
            <span class="fb-friend">
                  Your friend.
            </span>
          <% end %>

        </span>
      </div>

      <div class="answer-body">
        <p><%= answer.body %></p>
      </div>

      <div class="comment-toggle">
        <span class="show-comments fake-link">Click to show
          <%=answer.comments.count %> comments
        </span>
      </div>

      <div class="comments">
        <div class="comment-collection">
        <%= render :partial => 'questions/comment',
                   :collection => answer.comments %>
        </div>

        <%= form_for([answer, answer.comments.build],
            :remote => true, :class => "new_comment" ) do |f| %>

          <%= f.text_area :body, :class => "comment_field" %>
          <%= f.submit "Add Comment", :class => "flat-button" %>
        <% end %>
        <span class="fake-link hide-comments">Click to hide
          <%=answer.comments.count %> comments
        </span>
      </div>

    </div>
  <% end %>
<% end %>