<!-- TODO: This is *very* hard to follow. The logic for
           deciding what template (all the conditions with &&s) should move to a view helper.

           Random idea. Create a view helper that just returns a symbol, like `:answers_posted`, `:question_posted`, `:none`. Then have a case in here which just renders one of three templaets.

           Also the complexity comes from rendering different templates      if the user is logged in. Don't check that here; render the       `answers` template regardless, and just have the `answers`       template do different things if the user is logged in. Push       that responsibility onto other templates; this one does way     too much. -->



<div class="row container bigbox">
  <div class="span4 left-span-content">
    <% unless @question.nil? %>
      <h1><%= @question.body %></h1>
      <p><%= @question.info %></p>
    <% else %>
      <h1>No question posted today</h1>
    <% end %>
  </div>

  <div class="span7">
    <% if user_signed_in? &&
          Question.question_posted? &&
          Question.todays_question.posted_answers %>

      <%= render 'questions/todays_answers' %>

    <% elsif Question.question_posted? &&
             Question.todays_question.posted_answers %>

      <%= render 'questions/logged_out_todays_answers' %>

    <% else %>

      <% if user_signed_in? && Question.question_posted? %>

      <%= render 'questions/answer_question' %>

      <% elsif Question.question_posted? %>

        <h2>
          <%= link_to "Sign in to answer today's question!",
                      new_user_session_path %>
        </h2>

      <% else %>

        <h2>Keep waiting...</h2>

      <% end %>

    <% end %>
  </div>
</div>