


<div class="row container">
    <div class="span4">
        <h3>People will like you more after signing in.</h3>
    </div>
    <div class="span5">
      <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :password %>
        <%= f.password_field :password %>

      <%= f.submit "Log in" %>

      <% end %>
    </div>
</div>