<div class="row container bigbox">
    <div class="span4 left-span-content">
        <h3>Go ahead, change things.</h3>
    </div>
    <div class="span7">
      <div class="right-span-content">
      <%= simple_form_for(resource,
          :as => resource_name,
          :url => registration_path(resource_name),
          :html => { :method => :put }) do |f| %>

        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, :required => true,
                      :autofocus => true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :username %>

          <%= f.input :title, :id => "title", :input_html => {:style => 'width: 80%'} %>

          <span class="fake-link new-title">Randomize Title
          </span>

          <% default_color = Color::MY_COLORS.key(current_user.color) %>
          <%= f.input :color, collection: Color::MY_COLORS,
                    selected: Color::MY_COLORS[default_color] %>
          </br>
          </br>
          <%= f.label "Daily emails for questions and answers?"%>
          <%= f.input :receives_email, as: :boolean %>

		  <% unless current_user.provider == "facebook" %>
            <%= f.input :password,
                        :autocomplete => "off",
                        :required => false %>

            <%= f.input :password_confirmation, :required => false %>

            <%= f.input :current_password,
                        :required => false %>
          <% end %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update",
                       :class => "flat-button" %>
        </div>
      <% end %>

      </div>
    </div>
</div>