<% @answers.each do |answer| %>
  <div class="user-answer">
    <div class="answer-header" style="background: <%=answer.user.color%>">
      <span><%= answer.user.username %></span>
        <span class="answer-buttons">
            <br />
            <span class="user-score" id="user<%= answer.user.id %>-score">
              <%=answer.score%>
            </span>
            <br />
        </span>        
        <br>
        <span class="user-title">
          <%= answer.user.title %>
        </span>

    </div>

    <div class="answer-body">
      <p>
        <%= auto_link(simple_format(answer.body),
          :tags => %w(br p) )%>
      </p>
    </div>

    <% commentstatus = answer.comments.empty? ? "" : "comments-on" %>

    <div class="comment-toggle <%= commentstatus %>">
      <span class="show-comments fake-link">
        <%=answer.comments.count %>
        <i class="icon-comment"></i>
      </span>
    </div>

    <div class="comments <%= commentstatus %>">
      <div class="comment-collection">
      <%= render :partial => 'questions/comment',
                 :collection => answer.comments %>
      </div>

      <span class="fake-link hide-comments">
        <%=answer.comments.count %>
        <i class="icon-comment-alt"></i>
      </span>
    </div>

  </div>
<% end %>
