<% @answers.each do |answer| %>
  <div class="user-answer">
    <div class="answer-header" style="background: <%=answer.user.color%>">
      <span><%= answer.user.username %></span>
      <% if current_user.provider == "facebook" && current_user.friends_with?(answer.user) %>
        <span class="fb-friend">
              Your friend.
        </span>
      <% end %>
        <% answer.user != current_user && current_user.score >= 5 ? vote_class = "show-vote" : vote_class = "hide-vote"%>
        <span class="answer-buttons <%= vote_class %>">
        <%= button_to "▲", answer_vote_path(answer_id: answer.id,
            score: "up"), remote: true, method: :post,
            form_class: "vote-form", class: "vote-button" %>
            <br />
            <span class="user-score" id="user<%= answer.user.id %>-score">
              <%=answer.score%>
            </span>
            <br />
        <%= button_to "▼", answer_vote_path(answer_id: answer.id,
            score: "down"), remote: true, method: :post,
            form_class: "vote-form", class: "vote-button" %>
        </span>        
        <br>
        <span class="user-title">
          <%= answer.user.title %>
        </span>

    </div>

    <div class="answer-body">
      <p>
        <%= auto_link(simple_format(answer.body),
          :tags => %w(br p) )%>
      </p>
    </div>

    <% commentstatus = answer.comments.empty? ? "" : "comments-on" %>

    <div class="comment-toggle <%= commentstatus %>">
      <span class="show-comments fake-link">
        <%=answer.comments.count %>
        <i class="icon-comment"></i>
      </span>
    </div>

    <div class="comments <%= commentstatus %>">
      <div class="comment-collection">
      <%= render :partial => 'questions/comment',
                 :collection => answer.comments %>
      </div>

      <%= form_for([answer, answer.comments.build],
          :remote => true, :class => "new_comment" ) do |f| %>

        <%= f.text_area :body, :placeholder => "Comment on #{answer.user.username}'s answer...", 
						:class => "comment-field" %>
        <%= f.submit "Add Comment", :disable_with => "Saving...", :class => "flat-button comment-button" %>
      <% end %>
      <span class="fake-link hide-comments">
        <%=answer.comments.count %>
        <i class="icon-comment-alt"></i>
      </span>
    </div>

  </div>
<% end %>