<div class="user-answer">

  <div class="answer-header"
       style="background: <%=answer.user.color%>">
    <span><%= answer.user.username %>:
      <span class="user-score"
            id="user<%= answer.user.id %>-score">
        <%=answer.score%>
      </span>

    </span>
  </div>

  <div class="answer-body">
    <p><%= answer.body %></p>
  </div>

  <div class="comment-toggle">
    <span class="show-comments fake-link">Click to show
      <%=answer.comments.count %> comments
    </span>
  </div>

  <div class="comments">
    <div class="comment-collection">
    <%= render :partial => 'questions/comment',
               :collection => answer.comments %>
    </div>

    <span class="fake-link hide-comments">Click to hide
      <%=answer.comments.count %> comments
    </span>
  </div>
</div>