
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
        <% tq = TqHelper.new_tq %>
        <li class="brand">
           <%= link_to "TQ: #{tq}", '/' %>
        </li>
      <ul class="nav pull-left">
        <li><%= link_to "Scoreboard", scoreboard_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Profile",
            edit_user_registration_path %></li>
        <% end %>

        <% if current_user && current_user.admin? %>
          <li><%= link_to "Admin",
                admin_path %></li>
          <li><%= link_to "Update Question",
                new_question_path %></li>
        <% elsif current_user && current_user.admin? %>
          <li><%= link_to "Create Question",
                new_question_path %></li>
        <% end %>

      </ul>

      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to "Log out", destroy_user_session_path,
                :method => :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign up",
                new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>