
<header class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid nav-container">
        <% tq = TqHelper.new_tq %>
        <li class="brand">
           <%= link_to "TQ: #{tq}", '/' %>
        </li>

      <ul class="nav pull-right">

        <% if user_signed_in? %>
        <li><%= link_to "Suggestions", suggestions_path %></li>
        <li><%= link_to "Scoreboard", scoreboard_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Archives", questions_path %></li>
        <li><%= link_to "Todays Question",
              new_question_path %></li>
          <% if current_user && current_user.admin? %>
            <li><%= link_to '<i class="icon-fighter-jet icon-large"></i>'.html_safe,
                  admin_dashboard_path %></li>
          <% end %>

        <li><%= link_to '<i class="icon-cog icon-large"></i>'.html_safe,
          edit_user_registration_path %></li>   			  
          <li class="dropdown noti-container">
			    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			      <i class="icon-envelope-alt icon-large">
              <% if current_user.unread_item_count > 0 %><p class="noti-badge">
              <%= current_user.unread_item_count %></p>
              <% end %>
            </i>
			    </a>
			    <ul class="dropdown-menu dropdown-flat">
						<% current_user.feed_items.each do | feeditem | %>
			      	<li class="read<%= feeditem.read %>">
                <%= link_to "#{feeditem.body}",
                feeditem, :method => :put, :class => "dropdown-item" %>
              </li>
						<% end %>
			    </ul>
				</li>
        <li><%= link_to '<i class="icon-signout icon-large"></i>'.html_safe, destroy_user_session_path,
              :method => :delete %></li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign up",
                new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>