<!DOCTYPE html>
<html>
<head>
  <title>TQ</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

    <% if user_signed_in? %>
      <div class="container greeting" style="background: <%= current_user.color %>">
        <div class="span4">
          <h1> Hi, <%= current_user.username %> </h1>
        </div>
      </div>
    <% else %>
      <div class="container greeting">
        <div class="span4">
          <h1> Hi! </h1>
        </div>
      </div>
    <% end %>

    <% unless notice.nil? && alert.nil? %>
      <div class="container alerts">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

<%= yield %>

</body>
</html>
